In [15]:
import pandas as pd
import numpy as np

In [4]:
lines = pd.read_csv('../data/2109_STIB_MIVB_Network/ACTU_LINES_1.csv')
stops = pd.read_csv('../data/2109_STIB_MIVB_Network/ACTU_STOPS_0.csv')

In [6]:
stops.head()

,FID,Code_Ligne,Variante,succession,stop_id,descr_fr,descr_nl,alpha_fr,alpha_nl,coord_x,coord_y,mode,numero_lig,terminus,x,y
0,1,063b,2,11,3218,MARGUERITE,MARGARETA,Marguerite,Margareta,151313.0,170744.0,B,63,GARE CENTRALE,4.387396,50.847098
1,2,063b,2,12,2920,AMBIORIX,AMBIORIX,Ambiorix,Ambiorix,151056.0,170809.0,B,63,GARE CENTRALE,4.383747,50.847683
2,3,063b,2,13,3219,WATERLOO WILSON,WATERLOO WILSON,Waterloo Wilson,Waterloo Wilson,150877.0,170823.0,B,63,GARE CENTRALE,4.381205,50.847809
3,4,063b,2,14,1569B,GUTENBERG,GUTENBERG,Gutenberg,Gutenberg,150591.0,170970.0,B,63,GARE CENTRALE,4.377145,50.849131
4,5,063b,2,15,1570,SAINT-JOSSE,SINT-JOOST,Saint-Josse,Sint-Joost,150374.0,171046.0,B,63,GARE CENTRALE,4.374063,50.849814

In [8]:
output = pd.read_csv('../result/output.csv')
output.head()

,org_row,route_id,direction_id,date,stop_id,on_time_rate,schedule_waiting_time,actual_waiting_time,excess_waiting_time,weighted_excess,a_devided_s
0,12266,17,0,20210907,3107,0.250000,"[3.1842105263157894, 167.3355855855856]","[2.852207733769466, 3.7059801121480773]","[-0.33200279254632337, -163.62960547343752]",-103.467331,1.000000
1,12266,17,0,20210908,3107,0.142857,"[3.1842105263157894, 167.3355855855856]","[3.228158286754019, 3.0889423685579382]","[0.043947760438229455, -164.24664321702764]",-103.718531,0.906977
2,12266,17,0,20210909,3107,0.285714,"[3.1842105263157894, 167.3355855855856]","[4.515618926676463, 3.893680675583072]","[1.3314084003606732, -163.4419049100025]",-102.735947,0.953488
3,12266,17,0,20210910,3107,0.178571,"[3.1842105263157894, 167.3355855855856]","[3.124873137606554, 3.2953340366496393]","[-0.05933738870923522, -164.04025154893594]",-103.626231,0.906977
4,12266,17,0,20210913,3107,0.250000,"[3.1842105263157894, 167.3355855855856]","[3.4306374535033166, 3.6889480194596236]","[0.24642692718752723, -163.64663756612597]",-103.264982,0.883721

In [29]:
join_left = pd.merge(output, stops, on='stop_id', how='left')
left_null = join_left.loc[join_left['mode'].isnull(), :]
left_null

,org_row,route_id,direction_id,date,stop_id,on_time_rate,schedule_waiting_time,actual_waiting_time,excess_waiting_time,weighted_excess,...,descr_nl,alpha_fr,alpha_nl,coord_x,coord_y,mode,numero_lig,terminus,x,y
2519,12586,18,1,20210912,2897,0.000000,[9.238007380073801],[8.96116512872436],[-0.27684225134944107],-0.276842,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2520,12587,18,1,20210912,1318,0.125000,[9.238007380073801],[12.54941003874236],[3.311402658668559],3.311403,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2521,12588,18,0,20210912,1317,0.500000,[9.125550660792952],[12.960005793184157],[3.8344551323912057],3.834455,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8775,13530,19,0,20210912,1317,0.166667,[10.227272727272727],[15.877122061833534],[5.649849334560807],5.649849,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8793,13539,19,1,20210912,1318,0.333333,[10.131178707224334],[23.228336046412004],[13.09715733918767],13.097157,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116800,17110,7,1,20210920,3334G,0.000000,[],[],[],NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117079,17990,73,0,20210920,6189F,0.440000,"[2.9842105263157896, 3.0760869565217392, 6.017...","[7.838590867628975, 4.32638806901148, 4.755663...","[4.854380341313185, 1.2503011124897405, -1.261...",2.235336,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117190,18051,73,1,20210920,1645F,0.280702,"[3.3666666666666667, 3.2994350282485874]","[7.387486145468623, 4.3425239724741065]","[4.020819478801956, 1.0430889442255191]",2.283810,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117200,18057,73,1,20210920,6351,0.500000,[],[],[],NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117201,18058,9,1,20210920,6351,0.125000,[],[],[],NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
left_null['stop_id'].unique()

array(['2897', '1318', '1317', '9983', '2892', '2893', '7859', '2894',
       '3263B', '2009', '2058', '2723', '1718', '2490', '5480', '1836B',
       '5256', '2757C', '2759', '2760B', '2717', '2718', '5424', '2347',
       '6932B', '9979B', '1366', '2141', '2231', '2232', '2251', '2224',
       '2127', '2904', '3047', '4370', '2889', '2890', '2891', '3922',
       '3159', '2108', '9996', '2888', '2796', '2839', '2792', '2795',
       '1208', '2582', '2585', '1145', '1555', '8162', '8833', '2351F',
       '5040', '4506', '7629', '5779', '2794F', '2793F', '5299F', '5298F',
       '5531', '3338F', '3334G', '6857P', '1591', '6189F', '6351',
       '1645F', '3050', '3051', '7717', '3052', '3048', '3049'],
      dtype=object)

In [31]:
join_right = pd.merge(output, stops, on='stop_id', how='right')
right_null = join_right.loc[join_right['org_row'].isnull(), :]
right_null

,org_row,route_id,direction_id,date,stop_id,on_time_rate,schedule_waiting_time,actual_waiting_time,excess_waiting_time,weighted_excess,...,descr_nl,alpha_fr,alpha_nl,coord_x,coord_y,mode,numero_lig,terminus,x,y
2661,NaN,NaN,NaN,NaN,9064,NaN,NaN,NaN,NaN,NaN,...,DWARSSTRAAT,Rue Traversière,Dwarsstraat,150016.0,171649.0,B,65,MACHELEN,4.368980,50.855235
2662,NaN,NaN,NaN,NaN,6369,NaN,NaN,NaN,NaN,NaN,...,MIDDAGLIJN,Méridien,Middaglijn,150042.0,171824.0,B,65,MACHELEN,4.369349,50.856808
2663,NaN,NaN,NaN,NaN,6418,NaN,NaN,NaN,NaN,NaN,...,ROBIANO,Robiano,Robiano,150182.0,172213.0,B,65,MACHELEN,4.371337,50.860305
2664,NaN,NaN,NaN,NaN,6203,NaN,NaN,NaN,NaN,NaN,...,WIJNHEUVELEN,Coteaux,Wijnheuvelen,150596.0,172123.0,B,65,MACHELEN,4.377218,50.859496
3241,NaN,NaN,NaN,NaN,9725,NaN,NaN,NaN,NaN,NaN,...,KASTEEL BEAULIEU,Kasteel Beaulieu,Kasteel Beaulieu,154141.0,176949.0,B,65,MACHELEN,4.427623,50.902864
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116267,NaN,NaN,NaN,NaN,4124,NaN,NaN,NaN,NaN,NaN,...,BOCKSTAEL,Bockstael,Bockstael,148533.0,174192.0,B,218,GARE CENTRALE,4.347908,50.878093
116268,NaN,NaN,NaN,NaN,6097B,NaN,NaN,NaN,NaN,NaN,...,PRINS. CLEMENTINA,Princesse Clémentine,Prinses Clementina,148947.0,173901.0,B,218,GARE CENTRALE,4.353792,50.875478
116269,NaN,NaN,NaN,NaN,2844,NaN,NaN,NaN,NaN,NaN,...,MARIA-CHRISTINA,Marie-Christine,Maria-Christina,149320.0,173706.0,B,218,GARE CENTRALE,4.359092,50.873726
116270,NaN,NaN,NaN,NaN,2543,NaN,NaN,NaN,NaN,NaN,...,JULES DE TROOZ,Jules De Trooz,Jules De Trooz,149478.0,173376.0,B,218,GARE CENTRALE,4.361337,50.870760
116455,NaN,NaN,NaN,NaN,2221,NaN,NaN,NaN,NaN,NaN,...,DE BERLAIMONT,de Berlaimont,de Berlaimont,149398.0,171051.0,B,218,GARE CENTRALE,4.360204,50.849859

In [32]:
right_null['stop_id'].unique()

array(['9064', '6369', '6418', '6203', '9725', '9726', '9729', '9703',
       '3309', '6416', '3325', '3332', '2559', '5856', '1656B', '1657',
       '2788', '2739', '1801', '2402', '2334B', '2404', '5115', '2738',
       '2734', '2735', '2736', '2462', '2463', '2333', '2465', '2840',
       '2787', '1582', '3162', '3163', '3164', '3165', '2721', '5458',
       '3064', '2329', '2176', '1065', '4259', '4206B', '1129', '6355',
       '6356', '6357', '6214', '2249', '2248', '3298', '1386', '1584',
       '1585', '1586', '1587', '1639', '1640B', '1641', '1382', '1368',
       '1105', '1190', '6203F', '6409F', '6418F', '6363', '6364', '6365',
       '3309F', '6502', '6302', '6303', '6304', '6416F', '5104F', '5169F',
       '1726', '2681', '3620B', '1548B', '1544', '1545', '1546', '1874',
       '1875', '1417B', '3399', '3623B', '2682', '4369', '2050', '3519',
       '2010', '5032B', '2148', '2150', '5053B', '2002', '3573', '3624B',
       '5017', '3625B', '1220', '5814', '5815', '5816B', '5853B', '5854',
       '5855', '1221', '5067', '1794', '5111B', '5101B', '1229', '1231',
       '1239', '2604', '5121', '5722', '5723B', '2477', '1258B', '5756',
       '2667', '1240', '1232', '1230', '5100B', '5107B', '2470', '2581',
       '1227', '1245', '1237', '1244', '1202', '1199', '1236', '5168',
       '5174', '5102', '5105', '1094', '1108', '1304', '1313', '1314',
       '6471', '3009', '2537', '2843', '6174B', '4123', '4274', '4956',
       '4276', '4277', '4229', '4230', '4957', '4232', '4124', '6097B',
       '2844', '2543', '2221'], dtype=object)

In [44]:
join_inner = pd.merge(output, stops, on='stop_id', how='inner')
join_inner.loc[join_inner["Code_Ligne"] == '071b',:].sort_values(by='weighted_excess', ascending=True).head(10)

,org_row,route_id,direction_id,date,stop_id,on_time_rate,schedule_waiting_time,actual_waiting_time,excess_waiting_time,weighted_excess,...,descr_nl,alpha_fr,alpha_nl,coord_x,coord_y,mode,numero_lig,terminus,x,y
79472,21033,65,0,20210909,3510B,NaN,[4.707882534775889],[-418416.97672991117],[-418421.68461244594],-418421.684612,...,GEO BERNIER,Géo Bernier,Géo Bernier,150584.1,167758.3,B,71,DELTA,4.377041,50.820259
79490,21073,65,0,20210909,3510B,NaN,[4.707882534775889],[-418416.97672991117],[-418421.68461244594],-418421.684612,...,GEO BERNIER,Géo Bernier,Géo Bernier,150584.1,167758.3,B,71,DELTA,4.377041,50.820259
79476,21033,65,0,20210913,3510B,NaN,[4.707882534775889],[-240918.55859769788],[-240923.26648023265],-240923.266480,...,GEO BERNIER,Géo Bernier,Géo Bernier,150584.1,167758.3,B,71,DELTA,4.377041,50.820259
79494,21073,65,0,20210913,3510B,NaN,[4.707882534775889],[-240918.55859769788],[-240923.26648023265],-240923.266480,...,GEO BERNIER,Géo Bernier,Géo Bernier,150584.1,167758.3,B,71,DELTA,4.377041,50.820259
79486,21073,65,0,20210907,3510B,NaN,[4.707882534775889],[-227224.72688414578],[-227229.43476668056],-227229.434767,...,GEO BERNIER,Géo Bernier,Géo Bernier,150584.1,167758.3,B,71,DELTA,4.377041,50.820259
79468,21033,65,0,20210907,3510B,NaN,[4.707882534775889],[-227224.72688414578],[-227229.43476668056],-227229.434767,...,GEO BERNIER,Géo Bernier,Géo Bernier,150584.1,167758.3,B,71,DELTA,4.377041,50.820259
79500,21073,65,0,20210916,3510B,NaN,[4.707882534775889],[-212131.47489062537],[-212136.18277316014],-212136.182773,...,GEO BERNIER,Géo Bernier,Géo Bernier,150584.1,167758.3,B,71,DELTA,4.377041,50.820259
79482,21033,65,0,20210916,3510B,NaN,[4.707882534775889],[-212131.47489062537],[-212136.18277316014],-212136.182773,...,GEO BERNIER,Géo Bernier,Géo Bernier,150584.1,167758.3,B,71,DELTA,4.377041,50.820259
79480,21033,65,0,20210915,3510B,NaN,[4.707882534775889],[-209661.2962259186],[-209666.00410845337],-209666.004108,...,GEO BERNIER,Géo Bernier,Géo Bernier,150584.1,167758.3,B,71,DELTA,4.377041,50.820259
79498,21073,65,0,20210915,3510B,NaN,[4.707882534775889],[-209661.2962259186],[-209666.00410845337],-209666.004108,...,GEO BERNIER,Géo Bernier,Géo Bernier,150584.1,167758.3,B,71,DELTA,4.377041,50.820259