In [2]:
import pandas as pd

In [4]:
output = pd.DataFrame(columns=['org_row','route_id','direction_id','date','stop_id','punc'])
for i in range(68):
    df = pd.read_csv('../result/punc_input_table23_{}.csv'.format(i))
    df = df.iloc[:,1:]
    output = pd.concat([output,df],axis=0)

In [5]:
output.to_csv('../result/punc_input_table23.csv',index=False)

In [3]:
output = pd.DataFrame(columns=['org_row', 'route_id', 'direction_id', 'date', 'stop_id', 'on_time_rate', 'schedule_waiting_time', 'actual_waiting_time', 'excess_waiting_time', 'weighted_excess', 'a_devided_s'])
for i in range():
    df = pd.read_csv('../result/output_sept23_{}.csv'.format(i))
    df = df.iloc[:,1:]
    output = pd.concat([output,df],axis=0)
output

,org_row,route_id,direction_id,date,stop_id,on_time_rate,schedule_waiting_time,actual_waiting_time,excess_waiting_time,weighted_excess,a_devided_s
0,NaN,14,0,20210920,3107,0.285714,"[3.1842105263157894, 167.3355855855856]","[3.104535034881648, 3.943305646507043]","[-0.07967549143414132, -163.39227993907855]",-103.224478,1.264706
1,NaN,14,0,20210920,3177,0.285714,"[3.1842105263157894, 167.3355855855856]","[3.947307758094076, 168.66588307275842]","[0.7630972317782865, 1.3302974871728281]",1.121329,1.482759
2,NaN,14,0,20210920,3171,0.321429,"[3.1842105263157894, 167.3355855855856]","[5.268480751271442, 168.89181165320977]","[2.0842702249556524, 1.5562260676241806]",1.750769,1.303030
3,NaN,14,0,20210920,3172,0.178571,"[3.1842105263157894, 167.3355855855856]","[3.5493053357405406, 168.8811051316337]","[0.36509480942475125, 1.545519546048098]",1.110626,1.162162
4,NaN,14,0,20210920,3173,0.178571,"[3.1842105263157894, 167.3355855855856]","[3.1962995705985033, 169.42212199924242]","[0.012089044282713957, 2.0865364136568303]",1.322266,1.387097
...,...,...,...,...,...,...,...,...,...,...,...
995,NaN,13,0,20210920,6653F,0.288136,"[2.8554142591013867, 3.505239340771261, 16.983...","[5.408592903990363, 5.482075649577294, 16.9833...","[2.5531786448889764, 1.9768363088060332, 0.0]",2.153252,1.419643
996,NaN,12,0,20210920,1094F,0.576471,"[2.064625850340136, 2.0865384615384617]","[3.952077975293129, 3.5802473309091387]","[1.887452124952993, 1.493708869370677]",1.657400,1.250000
997,NaN,12,0,20210920,1064,0.564706,"[2.064625850340136, 2.0865384615384617]","[3.784315662871624, 3.706545773802188]","[1.7196898125314881, 1.6200073122637262]",1.661448,1.250000
998,NaN,12,0,20210920,1111,0.576471,"[2.064625850340136, 2.0865384615384617]","[3.867015954329399, 3.900894088450486]","[1.802390103989263, 1.8143556269120245]",1.809381,1.180556
999,NaN,12,0,20210920,5108,0.523256,"[2.0248305752561073, 2.086234439279799]","[4.3769373416104775, 2.8960490880937497]","[2.35210676635437, 0.8098146488139508]",1.440752,1.287879