In [83]:
import schedule_Generator as sg
import pandas as pd

Example
- Line 25: 25
- Stop ULB: 5407F
- Direction BOONDAEL GARE
- Date: SEP 07
- Time: 5-6 and after 20

In [84]:
# Input variables
route_id = 25
trip_headsign = 'BOONDAEL GARE'
date = 20210907
stop = '5407F'
nbusy_time = [['05:00:00', '07:00:00'], ['07:00:00', '09:00:00'], ['16:00:00', '20:00:00'], ['20:00:00', '25:00:00']]

In [85]:
stop_no_letter = ""
if stop[-1].isalpha():
    stop_no_letter = stop[:-1]
date_dt = "{}-{}-{}".format(str(date)[:4], str(date)[4:6], str(date)[-2:])

In [94]:
# get route short name
routes = pd.concat([pd.read_csv('../data/gtfs3Sept/routes.csv'), pd.read_csv('../data/gtfs23Sept/routes.csv')])
route_short_name = routes.loc[routes["route_id"]==route_id,:]["route_short_name"].values[0]

In [87]:
# Get day of week
day_of_week = pd.to_datetime(str(date), format='%Y%m%d').dayofweek
if day_of_week == 0:
    day_of_week = 'monday'
elif day_of_week == 1:
    day_of_week = 'tuesday'
elif day_of_week == 2:
    day_of_week = 'wednesday'
elif day_of_week == 3:
    day_of_week = 'thursday'
elif day_of_week == 4:
    day_of_week = 'friday'
elif day_of_week == 5:
    day_of_week = 'saturday'
elif day_of_week == 6:
    day_of_week = 'sunday'
day_of_week

'tuesday'

In [88]:
# combine time periods
new_nbusy_time = []
start = nbusy_time[0][0]
end = nbusy_time[0][1]
for i in range(1, len(nbusy_time)):
    if nbusy_time[i][0] == end:
        end = nbusy_time[i][1]
    else:
        new_nbusy_time.append([start, end])
        start = nbusy_time[i][0]
        end = nbusy_time[i][1]
new_nbusy_time.append([start, end])
new_nbusy_time

[['05:00:00', '09:00:00'], ['16:00:00', '25:00:00']]

In [89]:
# create datetime like list for actural time
new_nbusy_time_dt = []
for i in range(len(new_nbusy_time)):
    new_nbusy_time_dt.append([])
    for j in range(2):
        if new_nbusy_time[i][j] <= '24:00:00':
            new_nbusy_time_dt[i].append(date_dt+" "+new_nbusy_time[i][j])
        else:
            h = int(new_nbusy_time[i][j][:2]) - 24
            h = str(h)
            if len(h) == 1:
                h = "0"+h
            new_nbusy_time_dt[i].append((pd.to_datetime(date_dt, format='%Y-%m-%d')+pd.Timedelta(days=1)).strftime("%Y-%m-%d")+" "+(h+new_nbusy_time[i][j][2:]))
new_nbusy_time_dt

[['2021-09-07 05:00:00', '2021-09-07 09:00:00'],
 ['2021-09-07 16:00:00', '2021-09-08 01:00:00']]

In [102]:
trips = pd.concat([pd.read_csv('../data/gtfs3Sept/trips.csv'), pd.read_csv('../data/gtfs23Sept/trips.csv')])
trips_line = trips.loc[trips['route_id']==route_id,:]
trip_line_head = trips_line.loc[trips_line['trip_headsign']==trip_headsign,:]
trip_line_head.head()

,route_id,service_id,trip_id,trip_headsign,direction_id,block_id,shape_id
96068,25,236896051,113149920236896051,BOONDAEL GARE,1,8925469,025t0256
96069,25,236896051,113149922236896051,BOONDAEL GARE,1,8925474,025t0256
96072,25,236896051,113149925236896051,BOONDAEL GARE,1,8925469,025t0256
96075,25,236896051,113149929236896051,BOONDAEL GARE,1,8925473,025t0256
96077,25,236896051,113149932236896051,BOONDAEL GARE,1,8925474,025t0256

In [103]:
calendar = pd.concat([pd.read_csv('../data/gtfs3Sept/calendar.csv'), pd.read_csv('../data/gtfs23Sept/calendar.csv')])
calendar_week = calendar.loc[((calendar['start_date']<=date) & (calendar['end_date']>=date)),:]
calendar_week_day = calendar_week.loc[calendar_week[day_of_week]==1,:]
calendar_week_day.head()

,service_id,monday,tuesday,wednesday,thursday,friday,saturday,sunday,start_date,end_date
3,236270000,1,1,1,1,1,0,0,20210901,20210917
15,237645001,1,1,1,1,1,0,0,20210906,20210917
26,237648001,1,1,1,1,1,0,0,20210906,20210917
34,237534000,1,1,1,1,1,0,0,20210901,20210917
43,236695000,1,1,1,1,1,0,0,20210901,20210917

In [104]:
trip_line_date_head = pd.merge(left=trip_line_head, right=calendar_week_day, on='service_id', how='inner').loc[:,['route_id','service_id','trip_id']]
trip_line_date_head.head()

   route_id  service_id             trip_id
0        25   238202001  113480343238202001
1        25   238202001  113480346238202001
2        25   238202001  113480348238202001
3        25   238202001  113480356238202001
4        25   238202001  113480357238202001

In [108]:
stop_times = pd.concat([pd.read_csv('../data/gtfs3Sept/stop_times.csv'), pd.read_csv('../data/gtfs23Sept/stop_times.csv')])
time_line_date_head = pd.merge(left=trip_line_date_head, right=stop_times, on='trip_id')
time_line_date_head_stop = time_line_date_head.loc[time_line_date_head['stop_id']==stop,:]
time_line_date_head_stop.sort_values('arrival_time')
select = (time_line_date_head_stop['arrival_time']>=new_nbusy_time[0][0]) & (time_line_date_head_stop['arrival_time']<=new_nbusy_time[0][1])
for i in range(len(new_nbusy_time)):
    select = select | ((time_line_date_head_stop['arrival_time']>=new_nbusy_time[i][0]) & (time_line_date_head_stop['arrival_time']<=new_nbusy_time[i][1]))
time_line_date_head_stop_nbusy = time_line_date_head_stop.loc[select,:]
# time_line_date_head_stop_nbusy.sort_values('arrival_time')

/var/folders/v1/m2nqhx3d4yv9mjbpndrlsck00000gn/T/ipykernel_44170/2395021866.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  stop_times = pd.concat([pd.read_csv('../data/gtfs3Sept/stop_times.csv'), pd.read_csv('../data/gtfs23Sept/stop_times.csv')])

In [52]:
def unix_to_datetime(unix_time):
    return pd.to_datetime(unix_time,unit="ms",origin="unix")

def datetime_to_unix(dt):
    return int(pd.Timestamp.timestamp(pd.Timestamp(dt))*1000)

unix_to_datetime(1630998894287)

Timestamp('2021-09-07 07:14:54.287000')

In [100]:
actural_time = pd.concat([pd.read_csv('../data/vehiclePosition01.csv'),pd.read_csv('../data/vehiclePosition02.csv'),pd.read_csv('../data/vehiclePosition03.csv'),pd.read_csv('../data/vehiclePosition04.csv'),pd.read_csv('../data/vehiclePosition05.csv'),pd.read_csv('../data/vehiclePosition06.csv'),pd.read_csv('../data/vehiclePosition07.csv'),pd.read_csv('../data/vehiclePosition08.csv'),pd.read_csv('../data/vehiclePosition09.csv'),pd.read_csv('../data/vehiclePosition10.csv'),pd.read_csv('../data/vehiclePosition11.csv'),pd.read_csv('../data/vehiclePosition12.csv'),pd.read_csv('../data/vehiclePosition13.csv')])
actural_time_line = actural_time.loc[actural_time['LineID']==int(route_short_name),:]
actural_time_line_point = actural_time_line.loc[actural_time_line['PointID']==int(stop_no_letter),:]
actural_time_line_point['Time'] = actural_time_line_point['Time'].apply(unix_to_datetime)
actural_time_line_point_date = actural_time_line_point.loc[actural_time_line_point['Time'].dt.date == pd.to_datetime(date_dt).date(),:]
actural_time_line_point_date['Time'] = (actural_time_line_point_date['Time'] + pd.Timedelta('02:00:00'))
actural_time_line_point_date_arrive = actural_time_line_point_date.loc[actural_time_line_point_date['DistanceFromPoint']<=200,:]
select_list = [True]
for i in range(1, len(actural_time_line_point_date_arrive)):
    if (actural_time_line_point_date_arrive.iloc[i,0] - actural_time_line_point_date_arrive.iloc[i-1,0] <= pd.Timedelta('00:00:45')) and (actural_time_line_point_date_arrive.iloc[i,0] - actural_time_line_point_date_arrive.iloc[i-1,0] >= pd.Timedelta('00:00:15')):
        select_list.append(False)
    else:
        select_list.append(True)
actural_time_line_point_date_arrive_noduplicate = actural_time_line_point_date_arrive.loc[select_list,:]
select_list = [True]
for i in range(1, len(actural_time_line_point_date_arrive_noduplicate)):
    if (actural_time_line_point_date_arrive_noduplicate.iloc[i,0] - actural_time_line_point_date_arrive_noduplicate.iloc[i-1,0] <= pd.Timedelta('00:00:45')) and (actural_time_line_point_date_arrive_noduplicate.iloc[i,0] - actural_time_line_point_date_arrive_noduplicate.iloc[i-1,0] >= pd.Timedelta('00:00:15')):
        select_list.append(False)
    else:
        select_list.append(True)
actural_time_line_point_date_arrive_noduplicate = actural_time_line_point_date_arrive_noduplicate.loc[select_list,:]
select = (actural_time_line_point_date_arrive_noduplicate['Time']>=pd.to_datetime(new_nbusy_time_dt[0][0])) & (actural_time_line_point_date_arrive_noduplicate['Time']<=pd.to_datetime(new_nbusy_time_dt[0][1]))
for i in range(len(new_nbusy_time_dt)):
    select = select | ((actural_time_line_point_date_arrive_noduplicate['Time']>=pd.to_datetime(new_nbusy_time_dt[i][0])) & (actural_time_line_point_date_arrive_noduplicate['Time']<=pd.to_datetime(new_nbusy_time_dt[i][1])))
actural_time_line_point_date_arrive_noduplicate_nbusy = actural_time_line_point_date_arrive_noduplicate.loc[select,:]
actural_time_line_point_date_arrive_noduplicate_nbusy.sort_values('Time').count()

/var/folders/v1/m2nqhx3d4yv9mjbpndrlsck00000gn/T/ipykernel_44170/95322460.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  actural_time_line_point['Time'] = actural_time_line_point['Time'].apply(unix_to_datetime)
/var/folders/v1/m2nqhx3d4yv9mjbpndrlsck00000gn/T/ipykernel_44170/95322460.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  actural_time_line_point_date['Time'] = (actural_time_line_point_date['Time'] + pd.Timedelta('02:00:00'))

Time                 72
LineID               72
DirectionID          72
DistanceFromPoint    72
PointID              72
dtype: int64

In [101]:
on_time = 0
time_line_date_head_stop_nbusy['arrival_time'].apply(pd.to_timedelta)
actural_time_line_point_date_arrive_noduplicate_nbusy['Time'] - pd.Timestamp(date_dt+' 00:00:00')
for t in time_line_date_head_stop_nbusy['arrival_time'].apply(pd.to_timedelta):
    ot = False
    for at in actural_time_line_point_date_arrive_noduplicate_nbusy['Time'] - pd.Timestamp(date_dt+' 00:00:00'):
        t_dif = t - at
        if t_dif <= pd.Timedelta('00:00:45') and t_dif >= pd.Timedelta('-00:00:75'):
            ot = True
    if ot == True:
        on_time+=1
on_time_rate = on_time/len(time_line_date_head_stop_nbusy['arrival_time'])
on_time_rate

0.32222222222222224

In [18]:
actural_time_line_point_date_arrive_noduplicate.sort_values('Time')

,Time,LineID,DirectionID,DistanceFromPoint,PointID
1066927,2021-09-07 05:42:30.614,8,5229,6,1047
1087642,2021-09-07 06:13:40.483,8,5229,3,1047
1103465,2021-09-07 06:30:23.614,8,5229,0,1047
1121216,2021-09-07 06:46:04.691,8,5229,0,1047
1144937,2021-09-07 07:03:30.114,8,5229,16,1047
1162015,2021-09-07 07:14:48.016,8,5229,42,1047
1167906,2021-09-07 07:18:30.535,8,5229,0,1047
1180019,2021-09-07 07:26:03.562,8,5229,0,1047
1188912,2021-09-07 07:31:28.177,8,5229,0,1047
1198910,2021-09-07 07:37:27.300,8,5229,0,1047
1209063,2021-09-07 07:43:23.762,8,5229,0,1047
1220219,2021-09-07 07:49:45.210,8,5229,16,1047
1234221,2021-09-07 07:57:49.778,8,5229,0,1047
1242586,2021-09-07 08:03:13.370,8,5229,0,1047
1267951,2021-09-07 08:17:41.848,8,5229,14,1047
1273646,2021-09-07 08:20:53.956,8,5229,0,1047
1286094,2021-09-07 08:27:48.381,8,5229,0,1047
1296544,2021-09-07 08:33:51.296,8,5229,0,1047
1308986,2021-09-07 08:42:29.047,8,5229,123,1047
1312601,2021-09-07 08:44:41.044,8,5229,0,1047
1324861,2021-09-07 08:51:31.477,8,5229,0,1047
1339733,2021-09-07 08:59:56.837,8,5229,0,1047
1350042,2021-09-07 09:05:48.486,8,5229,42,1047
1356476,2021-09-07 09:09:34.391,8,5229,0,1047
1364750,2021-09-07 09:14:22.644,8,5229,0,1047
10027,2021-09-07 09:20:45.218,8,5229,34,1047
14487,2021-09-07 09:23:24.148,8,5272,5,1047
24877,2021-09-07 09:29:45.492,8,5229,0,1047
43334,2021-09-07 09:41:34.115,8,5229,0,1047
52308,2021-09-07 09:47:31.090,8,5229,0,1047
66201,2021-09-07 09:56:34.336,8,5272,42,1047
70214,2021-09-07 09:59:18.588,8,5229,0,1047
75755,2021-09-07 10:02:59.164,8,5229,0,1047
88111,2021-09-07 10:11:30.050,8,5229,0,1047
99555,2021-09-07 10:19:33.905,8,5229,0,1047
106321,2021-09-07 10:24:21.557,8,2351,0,1047
109969,2021-09-07 10:27:01.819,8,5229,14,1047
122337,2021-09-07 10:36:12.536,8,5229,0,1047
128862,2021-09-07 10:41:02.333,8,5229,0,1047
145202,2021-09-07 10:53:13.693,8,5229,11,1047
149444,2021-09-07 10:56:24.980,8,5229,0,1047
159314,2021-09-07 11:03:56.575,8,5229,42,1047
168469,2021-09-07 11:10:53.763,8,5229,0,1047
180361,2021-09-07 11:19:55.263,8,5229,0,1047
192772,2021-09-07 11:29:25.538,8,5229,45,1047
198682,2021-09-07 11:34:16.874,8,5229,0,1047
207982,2021-09-07 11:41:41.817,8,5229,0,1047
217905,2021-09-07 11:49:38.910,8,5229,0,1047
225152,2021-09-07 11:55:28.207,8,5229,0,1047
237207,2021-09-07 12:05:04.220,8,5229,48,1047
247960,2021-09-07 12:13:28.555,8,5229,0,1047
252772,2021-09-07 12:20:51.033,8,5229,2,1047
260251,2021-09-07 12:32:20.408,8,5229,0,1047
266896,2021-09-07 12:43:50.191,8,5229,0,1047
286838,2021-09-07 13:06:24.562,8,5229,0,1047
294408,2021-09-07 13:12:18.670,8,5229,4,1047
304661,2021-09-07 13:20:21.499,8,5229,42,1047
314703,2021-09-07 13:28:19.003,8,5229,0,1047
333296,2021-09-07 13:43:13.180,8,5229,0,1047
342727,2021-09-07 13:50:37.296,8,5229,0,1047
351387,2021-09-07 13:56:57.519,8,5229,0,1047
363493,2021-09-07 14:05:54.509,8,5229,0,1047
373721,2021-09-07 14:13:21.084,8,5229,0,1047
383984,2021-09-07 14:20:54.622,8,5229,1,1047
397430,2021-09-07 14:30:28.179,8,5229,0,1047
403474,2021-09-07 14:34:46.029,8,5229,1,1047
411863,2021-09-07 14:40:36.352,8,5229,0,1047
427500,2021-09-07 14:51:19.131,8,5229,0,1047
436329,2021-09-07 14:58:43.969,8,5229,0,1047
445387,2021-09-07 15:04:37.258,8,5229,0,1047
454542,2021-09-07 15:10:25.322,8,5229,0,1047
467294,2021-09-07 15:18:25.995,8,5229,0,1047
481182,2021-09-07 15:26:58.622,8,5229,0,1047
493601,2021-09-07 15:34:30.424,8,5229,0,1047
505410,2021-09-07 15:41:26.590,8,5229,0,1047
524638,2021-09-07 15:52:35.383,8,5229,6,1047
531986,2021-09-07 15:56:44.938,8,5229,0,1047
557936,2021-09-07 16:11:38.906,8,5229,0,1047
561635,2021-09-07 16:13:50.082,8,5229,0,1047
571035,2021-09-07 16:19:09.576,8,5229,0,1047
578675,2021-09-07 16:23:29.474,8,5229,22,1047
587183,2021-09-07 16:28:24.291,8,5229,0,1047
603378,2021-09-07 16:37:33.067,8,5229,0,1047
612040,2021-09-07 16:42:23.379,8,5229,0,1047
628160,2021-09-07 16:51:28.266,8,5229,0,1047
634874,2021-09-07 16:55:13.349,8,5229,57,1047
642526,2021-09-07 17:00:01.407,8,5229,0,1047
648258,2021-09-07 17:03:12.388,8,5229,0,1047
666465,2021-09-07 17:13:20.251,8,5229,196,1047
676966,2021-09-07 17:19:16.203,8,5229,0,1047
683620,2021-09-07 17:22:58.519,8,5229,0,1047
698140,2021-09-07 17:31:26.026,8,5229,0,1047
708187,2021-09-07 17:37:14.705,8,5229,0,1047
720098,2021-09-07 17:44:11.481,8,5229,0,1047
728376,2021-09-07 17:48:58.003,8,5229,0,1047
741318,2021-09-07 17:56:23.348,8,5229,48,1047
750239,2021-09-07 18:17:45.517,8,5229,7,1047
762560,2021-09-07 18:25:11.374,8,5229,151,1047
774437,2021-09-07 18:32:40.610,8,5229,1,1047
782780,2021-09-07 18:38:00.616,8,5229,42,1047
789523,2021-09-07 18:42:13.139,8,5229,0,1047
813758,2021-09-07 18:58:06.295,8,5229,0,1047
818542,2021-09-07 19:01:20.244,8,5229,0,1047
825349,2021-09-07 19:06:05.434,8,5229,0,1047
833127,2021-09-07 19:11:54.114,8,5229,0,1047
848665,2021-09-07 19:26:09.686,8,5229,42,1047
850014,2021-09-07 19:27:13.074,8,5229,42,1047
851391,2021-09-07 19:28:15.232,8,2351,0,1047
869449,2021-09-07 19:42:30.295,8,5426,42,1047
883141,2021-09-07 19:54:08.375,8,5229,0,1047
888722,2021-09-07 19:59:23.775,8,2351,4,1047
905485,2021-09-07 20:17:12.655,8,2351,2,1047
913691,2021-09-07 20:26:42.115,8,5229,4,1047
931034,2021-09-07 20:45:01.913,8,5229,4,1047
941324,2021-09-07 20:57:05.483,8,5229,0,1047
951713,2021-09-07 21:10:22.576,8,5229,42,1047
979324,2021-09-07 21:46:51.613,8,5229,3,1047
987006,2021-09-07 21:57:12.784,8,5229,42,1047
999192,2021-09-07 22:14:29.810,8,5229,0,1047
1009559,2021-09-07 22:29:38.118,8,5229,56,1047
1028975,2021-09-07 22:58:37.424,8,5229,1,1047
1039549,2021-09-07 23:13:39.291,8,5229,42,1047
1048216,2021-09-07 23:26:10.302,8,5229,42,1047
1067280,2021-09-07 23:55:10.017,8,5229,0,1047
1076887,2021-09-08 00:11:09.730,8,5229,0,1047
1084996,2021-09-08 00:25:58.272,8,5229,0,1047
1097790,2021-09-08 01:09:16.410,8,2351,48,1047