In [51]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import schedule_Generator as sg
import datetime
import time

## 2021-09-07 Example, Tram 25

In [2]:
Vehicle_Position = pd.read_csv("../data/Combined_CSV.csv")
Vehicle_Position.head()

                         Time  LineID  DirectionID  DistanceFromPoint  PointID
0  2021-09-06 07:54:46.924000       1         8161                  1     8012
1  2021-09-06 07:54:46.924000       1         8162                  0     8142
2  2021-09-06 07:54:46.924000       1         8162                  0     8282
3  2021-09-06 07:54:46.924000       1         8731                  0     8111
4  2021-09-06 07:54:46.924000       1         8162                  1     8062

In [11]:
Vehicle_Position_sub = Vehicle_Position[Vehicle_Position["Time"].apply(lambda x: x[0:10]) == "2021-09-07"].reset_index(drop=True)
print(Vehicle_Position_sub.shape)
Vehicle_Position_sub.head()

(1423791, 5)

                         Time  LineID  DirectionID  DistanceFromPoint  PointID
0  2021-09-07 00:00:20.209000      20         2081                 60     1096
1  2021-09-07 00:00:20.209000      20         1900                 65     1096
2  2021-09-07 00:00:20.209000      29         1528                  0     2594
3  2021-09-07 00:00:20.209000      34         9978                173     1824
4  2021-09-07 00:00:20.209000      34         6432                 87     1278

In [13]:
trips = pd.read_csv('../data/gtfs3Sept/trips.txt')
trips_line = trips.loc[trips['route_id']==25,:]
trip_line_head = trips_line.loc[trips_line['trip_headsign']=='BOONDAEL GARE',:].reset_index(drop=True)
print(trip_line_head.shape)
trip_line_head.head()

(2107, 7)

,route_id,service_id,trip_id,trip_headsign,direction_id,block_id,shape_id
0,25,236896051,113149920236896051,BOONDAEL GARE,1,8925469,025t0256
1,25,236896051,113149922236896051,BOONDAEL GARE,1,8925474,025t0256
2,25,236896051,113149925236896051,BOONDAEL GARE,1,8925469,025t0256
3,25,236896051,113149929236896051,BOONDAEL GARE,1,8925473,025t0256
4,25,236896051,113149932236896051,BOONDAEL GARE,1,8925474,025t0256

In [14]:
calendar = pd.read_csv('../data/gtfs3Sept/calendar.txt')
calendar_week = calendar.loc[calendar['start_date']==20210906,:]
calendar_week_day = calendar_week.loc[calendar_week['tuesday']==1,:].reset_index(drop=True)
print(calendar_week_day.shape)
calendar_week_day.head()

(10, 10)

,service_id,monday,tuesday,wednesday,thursday,friday,saturday,sunday,start_date,end_date
0,237645001,1,1,1,1,1,0,0,20210906,20210917
1,237648001,1,1,1,1,1,0,0,20210906,20210917
2,238202001,1,1,1,1,1,0,0,20210906,20210917
3,238119001,1,1,1,1,1,0,0,20210906,20210917
4,238201001,1,1,1,1,1,0,0,20210906,20210917

In [25]:
trip_line_date_head = pd.merge(left=trip_line_head, right=calendar_week_day, on='service_id', how='inner').loc[:,['route_id','service_id','trip_id']]
print(trip_line_date_head.shape)
trip_line_date_head.head()

(288, 3)

   route_id  service_id             trip_id
0        25   238202001  113480343238202001
1        25   238202001  113480346238202001
2        25   238202001  113480348238202001
3        25   238202001  113480356238202001
4        25   238202001  113480357238202001

In [20]:
stop_times = pd.read_csv('../data/gtfs3Sept/stop_times.txt')
stop_times

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type
0,112387248235954071,21:07:00,21:07:00,4014,1,0,0
1,112387248235954071,21:09:00,21:09:00,3231,2,0,0
2,112387248235954071,21:10:08,21:10:08,3232,3,0,0
3,112387248235954071,21:11:00,21:11:00,3233,4,0,0
4,112387248235954071,21:11:43,21:11:43,3239,5,0,0
...,...,...,...,...,...,...,...
2820504,113028649236519600,07:29:00,07:29:00,6427F,17,0,0
2820505,113028649236519600,07:30:00,07:30:00,6430F,18,0,0
2820506,113028649236519600,07:31:35,07:31:35,5066F,19,0,0
2820507,113028649236519600,07:33:00,07:33:00,5068F,20,0,0
2820508,113028649236519600,07:34:00,07:34:00,6361,21,0,0

## Schedule Time

In [33]:
merged_stop_times = pd.merge(left = trip_line_date_head,right=stop_times,
         on="trip_id",how="inner")[["route_id",
                                    "service_id",
                                    "trip_id",
                                    "arrival_time",
                                    "departure_time",
                                    "stop_id",
                                    "stop_sequence"]].sort_values(by = ["arrival_time"],
                                                                  ascending=True).reset_index(drop=True)
print(merged_stop_times.shape)
merged_stop_times.head(10)

(3809, 7)

,route_id,service_id,trip_id,arrival_time,departure_time,stop_id,stop_sequence
0,25,238202001,113480365238202001,04:46:00,04:46:00,2720F,1
1,25,238202001,113480365238202001,04:47:57,04:47:57,6201F,2
2,25,238202001,113480365238202001,04:49:00,04:49:00,6202,3
3,25,238202001,113480365238202001,04:50:00,04:50:00,2794F,4
4,25,238202001,113480343238202001,05:04:00,05:04:00,0539,1
5,25,238202001,113480343238202001,05:05:00,05:05:00,0536,2
6,25,238202001,113480356238202001,05:07:00,05:07:00,2397F,1
7,25,238202001,113480356238202001,05:08:00,05:08:00,5407F,2
8,25,238202001,113480343238202001,05:08:00,05:08:00,5762,3
9,25,238202001,113480343238202001,05:09:00,05:09:00,2720F,4

In [38]:
stops = pd.read_csv('../data/gtfs3Sept/stops.txt')[["stop_id","stop_name","stop_lat","stop_lon"]]
print(stops.shape)
stops.head()

(2998, 4)

  stop_id   stop_name   stop_lat  stop_lon
0    0089  MONTGOMERY  50.838006  4.408970
1   0470F     SIMONIS  50.863666  4.329612
2    0471     SIMONIS  50.863732  4.329236
3    0472     SIMONIS  50.863543  4.329023
4   0473F     SIMONIS  50.863418  4.330031

In [47]:
stops[stops["stop_name"] == "ULB"]

     stop_id stop_name   stop_lat  stop_lon
1535    3513       ULB  50.813926  4.384942
1559    3559       ULB  50.813899  4.384459
2021    5407       ULB  50.814061  4.384119
2022   5407F       ULB  50.814061  4.384119
2054   5462F       ULB  50.813657  4.384332

In [45]:
merge_ULB = pd.merge(left=merged_stop_times,
         right=stops[stops["stop_name"] == "ULB"],
         on = "stop_id",
         how = "inner")
merge_ULB

,route_id,service_id,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_name,stop_lat,stop_lon
0,25,238202001,113480356238202001,05:08:00,05:08:00,5407F,2,ULB,50.814061,4.384119
1,25,238202001,113480381238202001,05:26:00,05:26:00,5407F,2,ULB,50.814061,4.384119
2,25,238202001,113481493238202001,05:44:00,05:44:00,5407F,2,ULB,50.814061,4.384119
3,25,238202001,113480361238202001,05:47:00,05:47:00,5407F,16,ULB,50.814061,4.384119
4,25,238202001,113481495238202001,06:00:00,06:00:00,5407F,2,ULB,50.814061,4.384119
5,25,238202001,113480369238202001,06:03:00,06:03:00,5407F,16,ULB,50.814061,4.384119
6,25,238202001,113481500238202001,06:17:00,06:17:00,5407F,2,ULB,50.814061,4.384119
7,25,238202001,113480360238202001,06:22:00,06:22:00,5407F,16,ULB,50.814061,4.384119
8,25,238202001,113480582238202001,06:30:00,06:30:00,5407F,16,ULB,50.814061,4.384119
9,25,238202001,113480583238202001,06:38:00,06:38:00,5407F,16,ULB,50.814061,4.384119
10,25,238202001,113481491238202001,06:44:00,06:44:00,5407F,2,ULB,50.814061,4.384119
11,25,238202001,113480584238202001,06:47:00,06:47:00,5407F,16,ULB,50.814061,4.384119
12,25,238202001,113480585238202001,06:56:00,06:56:00,5407F,16,ULB,50.814061,4.384119
13,25,238202001,113480586238202001,07:04:00,07:04:00,5407F,16,ULB,50.814061,4.384119
14,25,238202001,113481487238202001,07:10:00,07:10:00,5407F,12,ULB,50.814061,4.384119
15,25,238202001,113480587238202001,07:12:00,07:12:00,5407F,16,ULB,50.814061,4.384119
16,25,238202001,113480588238202001,07:20:00,07:20:00,5407F,16,ULB,50.814061,4.384119
17,25,238202001,113480589238202001,07:26:00,07:26:00,5407F,16,ULB,50.814061,4.384119
18,25,238202001,113480590238202001,07:32:00,07:32:00,5407F,16,ULB,50.814061,4.384119
19,25,238202001,113480591238202001,07:39:00,07:39:00,5407F,16,ULB,50.814061,4.384119
20,25,238202001,113480592238202001,07:45:00,07:45:00,5407F,16,ULB,50.814061,4.384119
21,25,238202001,113480593238202001,07:53:00,07:53:00,5407F,16,ULB,50.814061,4.384119
22,25,238202001,113480594238202001,08:00:00,08:00:00,5407F,16,ULB,50.814061,4.384119
23,25,238202001,113480595238202001,08:06:00,08:06:00,5407F,16,ULB,50.814061,4.384119
24,25,238202001,113480596238202001,08:13:00,08:13:00,5407F,16,ULB,50.814061,4.384119
25,25,238202001,113480597238202001,08:19:00,08:19:00,5407F,16,ULB,50.814061,4.384119
26,25,238202001,113480598238202001,08:25:00,08:25:00,5407F,16,ULB,50.814061,4.384119
27,25,238202001,113480599238202001,08:31:00,08:31:00,5407F,16,ULB,50.814061,4.384119
28,25,238202001,113480600238202001,08:37:00,08:37:00,5407F,16,ULB,50.814061,4.384119
29,25,238202001,113480601238202001,08:44:00,08:44:00,5407F,16,ULB,50.814061,4.384119
30,25,238202001,113480602238202001,08:51:00,08:51:00,5407F,16,ULB,50.814061,4.384119
31,25,238202001,113480603238202001,08:58:00,08:58:00,5407F,16,ULB,50.814061,4.384119
32,25,238202001,113480604238202001,09:05:00,09:05:00,5407F,16,ULB,50.814061,4.384119
33,25,238202001,113480605238202001,09:11:00,09:11:00,5407F,16,ULB,50.814061,4.384119
34,25,238202001,113480606238202001,09:22:00,09:22:00,5407F,16,ULB,50.814061,4.384119
35,25,238202001,113480607238202001,09:29:00,09:29:00,5407F,16,ULB,50.814061,4.384119
36,25,238202001,113480813238202001,09:34:00,09:34:00,5407F,16,ULB,50.814061,4.384119
37,25,238202001,113480768238202001,09:39:00,09:39:00,5407F,16,ULB,50.814061,4.384119
38,25,238202001,113480769238202001,09:45:00,09:45:00,5407F,16,ULB,50.814061,4.384119
39,25,238202001,113480770238202001,09:51:00,09:51:00,5407F,16,ULB,50.814061,4.384119
40,25,238202001,113480771238202001,09:58:00,09:58:00,5407F,16,ULB,50.814061,4.384119
41,25,238202001,113480772238202001,10:05:00,10:05:00,5407F,16,ULB,50.814061,4.384119
42,25,238202001,113480773238202001,10:12:00,10:12:00,5407F,16,ULB,50.814061,4.384119
43,25,238202001,113480774238202001,10:19:00,10:19:00,5407F,16,ULB,50.814061,4.384119
44,25,238202001,113480775238202001,10:26:00,10:26:00,5407F,16,ULB,50.814061,4.384119
45,25,238202001,113480776238202001,10:34:00,10:34:00,5407F,16,ULB,50.814061,4.384119
46,25,238202001,113480777238202001,10:42:00,10:42:00,5407F,16,ULB,50.814061,4.384119
47,25,238202001,113480778238202001,10:50:00,10:50:00,5407F,16,ULB,50.814061,4.384119
48,25,238202001,113480779238202001,10:58:00,10:58:00,5407F,16,ULB,50.814061,4.384119
49,25,238202001,113480780238202001,11:06:00,11:06:00,5407F,16,ULB,50.814061,4.384119
50,25,238202001,113480781238202001,11:14:00,11:14:00,5407F,16,ULB,50.814061,4.384119
51,25,238202001,113480782238202001,11:22:00,11:22:00,5407F,16,ULB,50.814061,4.384119
52,25,238202001,113480783238202001,11:30:00,11:30:00,5407F,16,ULB,50.814061,4.384119
53,25,238202001,113480784238202001,11:38:00,11:38:00,5407F,16,ULB,50.814061,4.384119
54,25,238202001,113480785238202001,11:46:00,11:46:00,5407F,16,ULB,50.814061,4.384119
55,25,238202001,113480786238202001,11:54:00,11:54:00,5407F,16,ULB,50.814061,4.384119
56,25,238202001,113480787238202001,12:02:00,12:02:00,5407F,16,ULB,50.814061,4.384119
57,25,238202001,113480788238202001,12:10:00,12:10:00,5407F,16,ULB,50.814061,4.384119
58,25,238202001,113480789238202001,12:18:00,12:18:00,5407F,16,ULB,50.814061,4.384119
59,25,238202001,113480790238202001,12:26:00,12:26:00,5407F,16,ULB,50.814061,4.384119
60,25,238202001,113480791238202001,12:34:00,12:34:00,5407F,16,ULB,50.814061,4.384119
61,25,238202001,113480792238202001,12:42:00,12:42:00,5407F,16,ULB,50.814061,4.384119
62,25,238202001,113480793238202001,12:50:00,12:50:00,5407F,16,ULB,50.814061,4.384119
63,25,238202001,113480794238202001,12:58:00,12:58:00,5407F,16,ULB,50.814061,4.384119
64,25,238202001,113480795238202001,13:06:00,13:06:00,5407F,16,ULB,50.814061,4.384119
65,25,238202001,113480796238202001,13:14:00,13:14:00,5407F,16,ULB,50.814061,4.384119
66,25,238202001,113480797238202001,13:22:00,13:22:00,5407F,16,ULB,50.814061,4.384119
67,25,238202001,113480798238202001,13:30:00,13:30:00,5407F,16,ULB,50.814061,4.384119
68,25,238202001,113480799238202001,13:38:00,13:38:00,5407F,16,ULB,50.814061,4.384119
69,25,238202001,113480800238202001,13:46:00,13:46:00,5407F,16,ULB,50.814061,4.384119
70,25,238202001,113480801238202001,13:54:00,13:54:00,5407F,16,ULB,50.814061,4.384119
71,25,238202001,113480802238202001,14:02:00,14:02:00,5407F,16,ULB,50.814061,4.384119
72,25,238202001,113480803238202001,14:10:00,14:10:00,5407F,16,ULB,50.814061,4.384119
73,25,238202001,113480804238202001,14:19:00,14:19:00,5407F,16,ULB,50.814061,4.384119
74,25,238202001,113480805238202001,14:27:00,14:27:00,5407F,16,ULB,50.814061,4.384119
75,25,238202001,113480806238202001,14:35:00,14:35:00,5407F,16,ULB,50.814061,4.384119
76,25,238202001,113480807238202001,14:43:00,14:43:00,5407F,16,ULB,50.814061,4.384119
77,25,238202001,113480808238202001,14:51:00,14:51:00,5407F,16,ULB,50.814061,4.384119
78,25,238202001,113480809238202001,14:59:00,14:59:00,5407F,16,ULB,50.814061,4.384119
79,25,238202001,113480810238202001,15:08:00,15:08:00,5407F,16,ULB,50.814061,4.384119
80,25,238202001,113480811238202001,15:16:00,15:16:00,5407F,16,ULB,50.814061,4.384119
81,25,238202001,113480812238202001,15:23:00,15:23:00,5407F,16,ULB,50.814061,4.384119
82,25,238202001,113480615238202001,15:31:00,15:31:00,5407F,16,ULB,50.814061,4.384119
83,25,238202001,113481517238202001,15:36:00,15:36:00,5407F,2,ULB,50.814061,4.384119
84,25,238202001,113480616238202001,15:38:00,15:38:00,5407F,16,ULB,50.814061,4.384119
85,25,238202001,113480617238202001,15:45:00,15:45:00,5407F,16,ULB,50.814061,4.384119
86,25,238202001,113480618238202001,15:50:00,15:50:00,5407F,16,ULB,50.814061,4.384119
87,25,238202001,113480619238202001,15:55:00,15:55:00,5407F,16,ULB,50.814061,4.384119
88,25,238202001,113480620238202001,16:01:00,16:01:00,5407F,16,ULB,50.814061,4.384119
89,25,238202001,113480621238202001,16:09:00,16:09:00,5407F,16,ULB,50.814061,4.384119
90,25,238202001,113480622238202001,16:16:00,16:16:00,5407F,16,ULB,50.814061,4.384119
91,25,238202001,113480623238202001,16:22:00,16:22:00,5407F,16,ULB,50.814061,4.384119
92,25,238202001,113480624238202001,16:28:00,16:28:00,5407F,16,ULB,50.814061,4.384119
93,25,238202001,113480625238202001,16:34:00,16:34:00,5407F,16,ULB,50.814061,4.384119
94,25,238202001,113480626238202001,16:40:00,16:40:00,5407F,16,ULB,50.814061,4.384119
95,25,238202001,113480627238202001,16:46:00,16:46:00,5407F,16,ULB,50.814061,4.384119
96,25,238202001,113480628238202001,16:52:00,16:52:00,5407F,16,ULB,50.814061,4.384119
97,25,238202001,113480629238202001,16:58:00,16:58:00,5407F,16,ULB,50.814061,4.384119
98,25,238202001,113480630238202001,17:04:00,17:04:00,5407F,16,ULB,50.814061,4.384119
99,25,238202001,113480631238202001,17:10:00,17:10:00,5407F,16,ULB,50.814061,4.384119
100,25,238202001,113480632238202001,17:16:00,17:16:00,5407F,16,ULB,50.814061,4.384119
101,25,238202001,113480633238202001,17:22:00,17:22:00,5407F,16,ULB,50.814061,4.384119
102,25,238202001,113480634238202001,17:28:00,17:28:00,5407F,16,ULB,50.814061,4.384119
103,25,238202001,113480635238202001,17:34:00,17:34:00,5407F,16,ULB,50.814061,4.384119
104,25,238202001,113480636238202001,17:40:00,17:40:00,5407F,16,ULB,50.814061,4.384119
105,25,238202001,113480637238202001,17:46:00,17:46:00,5407F,16,ULB,50.814061,4.384119
106,25,238202001,113480638238202001,17:52:00,17:52:00,5407F,16,ULB,50.814061,4.384119
107,25,238202001,113480639238202001,17:58:00,17:58:00,5407F,16,ULB,50.814061,4.384119
108,25,238202001,113480640238202001,18:04:00,18:04:00,5407F,16,ULB,50.814061,4.384119
109,25,238202001,113480641238202001,18:10:00,18:10:00,5407F,16,ULB,50.814061,4.384119
110,25,238202001,113480642238202001,18:16:00,18:16:00,5407F,16,ULB,50.814061,4.384119
111,25,238202001,113480643238202001,18:22:00,18:22:00,5407F,16,ULB,50.814061,4.384119
112,25,238202001,113480644238202001,18:28:00,18:28:00,5407F,16,ULB,50.814061,4.384119
113,25,238202001,113480645238202001,18:34:00,18:34:00,5407F,16,ULB,50.814061,4.384119
114,25,238202001,113480839238202001,18:39:00,18:39:00,5407F,16,ULB,50.814061,4.384119
115,25,238202001,113480646238202001,18:45:00,18:45:00,5407F,16,ULB,50.814061,4.384119
116,25,238202001,113480647238202001,18:52:00,18:52:00,5407F,16,ULB,50.814061,4.384119
117,25,238202001,113480648238202001,18:59:00,18:59:00,5407F,16,ULB,50.814061,4.384119
118,25,238202001,113480649238202001,19:06:00,19:06:00,5407F,16,ULB,50.814061,4.384119
119,25,238202001,113480650238202001,19:15:00,19:15:00,5407F,16,ULB,50.814061,4.384119
120,25,238202001,113480609238202001,19:24:00,19:24:00,5407F,16,ULB,50.814061,4.384119
121,25,238202001,113480610238202001,19:35:00,19:35:00,5407F,16,ULB,50.814061,4.384119
122,25,238202001,113480614238202001,19:45:00,19:45:00,5407F,16,ULB,50.814061,4.384119
123,25,238202001,113480613238202001,19:54:00,19:54:00,5407F,16,ULB,50.814061,4.384119
124,25,238202001,113480608238202001,20:04:00,20:04:00,5407F,16,ULB,50.814061,4.384119
125,25,238202001,113480612238202001,20:13:00,20:13:00,5407F,16,ULB,50.814061,4.384119
126,25,238202001,113480357238202001,20:25:00,20:25:00,5407F,16,ULB,50.814061,4.384119
127,25,238202001,113480651238202001,20:35:00,20:35:00,5407F,16,ULB,50.814061,4.384119
128,25,238202001,113480652238202001,20:48:00,20:48:00,5407F,16,ULB,50.814061,4.384119
129,25,238202001,113480653238202001,21:00:00,21:00:00,5407F,16,ULB,50.814061,4.384119
130,25,238202001,113480654238202001,21:11:00,21:11:00,5407F,16,ULB,50.814061,4.384119
131,25,238202001,113480420238202001,21:23:00,21:23:00,5407F,16,ULB,50.814061,4.384119
132,25,238202001,113480415238202001,21:38:00,21:38:00,5407F,16,ULB,50.814061,4.384119
133,25,238202001,113480412238202001,21:54:00,21:54:00,5407F,16,ULB,50.814061,4.384119
134,25,238202001,113480424238202001,22:10:00,22:10:00,5407F,16,ULB,50.814061,4.384119
135,25,238202001,113480425238202001,22:25:00,22:25:00,5407F,16,ULB,50.814061,4.384119
136,25,238202001,113480414238202001,22:40:00,22:40:00,5407F,16,ULB,50.814061,4.384119
137,25,238202001,113480427238202001,22:55:00,22:55:00,5407F,16,ULB,50.814061,4.384119
138,25,238202001,113480428238202001,23:10:00,23:10:00,5407F,16,ULB,50.814061,4.384119
139,25,238202001,113480426238202001,23:25:00,23:25:00,5407F,16,ULB,50.814061,4.384119
140,25,238202001,113480437238202001,23:40:00,23:40:00,5407F,16,ULB,50.814061,4.384119
141,25,238202001,113480363238202001,23:55:00,23:55:00,5407F,16,ULB,50.814061,4.384119
142,25,238202001,113480440238202001,24:10:00,24:10:00,5407F,16,ULB,50.814061,4.384119
143,25,238202001,113480372238202001,24:25:00,24:25:00,5407F,16,ULB,50.814061,4.384119
144,25,238202001,113480435238202001,24:40:00,24:40:00,5407F,16,ULB,50.814061,4.384119
145,25,238202001,113480436238202001,25:00:00,25:00:00,5407F,16,ULB,50.814061,4.384119

In [61]:
ULB_schedule_diff = np.diff(merge_ULB["arrival_time"].apply(lambda x: int(x[0:2])*60 + int(x[3:5])))
ULB_schedule_diff

array([18, 18,  3, 13,  3, 14,  5,  8,  8,  6,  3,  9,  8,  6,  2,  8,  6,
        6,  7,  6,  8,  7,  6,  7,  6,  6,  6,  6,  7,  7,  7,  7,  6, 11,
        7,  5,  5,  6,  6,  7,  7,  7,  7,  7,  8,  8,  8,  8,  8,  8,  8,
        8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,
        8,  8,  8,  8,  9,  8,  8,  8,  8,  8,  9,  8,  7,  8,  5,  2,  7,
        5,  5,  6,  8,  7,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,
        6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  5,  6,  7,  7,  7,  9,
        9, 11, 10,  9, 10,  9, 12, 10, 13, 12, 11, 12, 15, 16, 16, 15, 15,
       15, 15, 15, 15, 15, 15, 15, 15, 20], dtype=int64)

In [69]:
print("ULB Schedule Wating Time: {} mins ".format(np.sum(ULB_schedule_diff**2)/(2*np.sum(ULB_schedule_diff))))

ULB Schedule Wating Time: 4.766778523489933 mins